%html
	%head
		%link{:href=>'css/reset.css', :rel=>'stylesheet', :type=>'text/css'}
		%link{:href=>'css/hcl.css', :rel=>'stylesheet', :type=>'text/css'}
		%script{:src=>'https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js', :type=>'text/javascript'}
		%script{:src=>'http://yandex.st/raphael/1.5.2/raphael.js', :type=>'text/javascript'}
		%script{:src=>'js/lib/raphael.draggable.js', :type=>'text/javascript'}
		%script{:src=>'js/hcl.js', :type=>'text/javascript'}
		%script{:src=>'js/ui.js', :type=>'text/javascript'}
	
	%body
		#sidebar
		#canvasarea
		#bottombar
